{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center reveal">
    <div class="col-md-5">
        <div class="glass-panel p-5" style="border-top: 2px solid var(--cyber-blue);">
            <h2 class="text-center orbitron mb-4" style="color: #fff; text-shadow: 0 0 15px var(--cyber-blue);">АВТОРИЗАЦИЯ</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="form-label text-muted orbitron" style="font-size: 0.7rem;">ИМЯ ПОЛЬЗОВАТЕЛЯ</label>
                    <input type="text" name="username" class="form-control" style="background: rgba(0,0,0,0.5); border: 1px solid #333; color: white; padding: 12px;" required>
                </div>
                <div class="mb-4">
                    <label class="form-label text-muted orbitron" style="font-size: 0.7rem;">КЛЮЧ ДОСТУПА (ПАРОЛЬ)</label>
                    <input type="password" name="password" class="form-control" style="background: rgba(0,0,0,0.5); border: 1px solid #333; color: white; padding: 12px;" required>
                </div>
                <button type="submit" class="btn-premium w-100 mt-2 py-3 border-0" style="background: linear-gradient(90deg, var(--cyber-blue), var(--cyber-purple));">ВОЙТИ В СЕТЬ</button>
            </form>
            <div class="text-center mt-4">
                <a href="{% url 'signup' %}" class="text-muted text-decoration-none" style="font-size: 0.8rem; font-family: 'Orbitron', sans-serif;">НЕТ ДОСТУПА? ПРОЙТИ РЕГИСТРАЦИЮ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}